<section id="footer">
  <div class="main-footer flex flex-col md:flex-row justify-evenly p-8 md:p-16 bg-green-900 text-white">
    <div class="logoinfo" data-aos="fade-up">
      <p class="text-green-500 text-lg mt-1">Ruwenzori Farms</p>
      <div class="contact-details mt-5">
        <h1 class="text-xl font-medium mb-2">Contact Us</h1>
        <ul>
          <li class="flex items-center my-2">
            <div class="fa fa-phone mr-2"></div><a href="tel:+254706083697" class="text-gray-200 no-underline">+254 706083697</a>
          </li>
          <li class="flex items-center my-2">
            <div class="fa fa-envelope mr-2"></div><a href="mailto:yourmail@gmail.com" class="text-gray-200 no-underline">eleazarsimba5@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="com mt-8 md:mt-0" data-aos="fade-up">
      <h1 class="text-xl font-medium mb-2">About</h1>
      <ul>
        <li class="py-1"><a href="#home" class="text-gray-400 no-underline">Home</a></li>
        <li class="py-1"><a href="#about" class="text-gray-400 no-underline">About</a></li>
        <li class="py-1"><a href="#services" class="text-gray-400 no-underline">Products</a></li>
        <li class="py-1"><a href="#contact" class="text-gray-400 no-underline">Contact</a></li>
      </ul>
    </div>
    <div class="info mt-8 md:mt-0" data-aos="fade-up">
      <h1 class="text-xl font-medium mb-2">Social Media</h1>
      <div class="sociallogos flex mt-5">
        <div class="logobox">
          <a href="https://www.instagram.com/eleazar.simba/" target="_blank" class="fa fa-instagram text-2xl text-white mx-2"></a>
          <a href="https://x.com/eleazar_simba" target="_blank" class="fa fa-twitter text-2xl text-white mx-2"></a>
          <a href="https://www.facebook.com/profile.php?id=100094683503568" target="_blank" class="fa fa-facebook text-2xl text-white mx-2"></a>
          <a href="https://www.youtube.com/channel/UC8uhltdWJpJqxdWT3-modTg" target="_blank" class="fa fa-youtube-play text-2xl text-white mx-2"></a>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-green-900 border-t border-green-500 text-lg py-4 text-center text-white">
    ©Ruw&ecaron;nzor&icirc; {{currentYear}}
  </footer>
</section>
