<div class="loginpage">
    <form class="otp-form">
      <h2>Email OTP</h2>
      <div class="email-otp-container">
        <input *ngFor="let i of [0, 1, 2, 3, 4, 5]" 
               type="tel" 
               class="email-otp-input" 
               pattern="\d" 
               maxlength="1" 
               [(ngModel)]="otpDigits[i]"
               [id]="'otp' + i"
               [name]="'otp' + i"
               (input)="onOtpInputChange(i, $event)">
      </div> 
      <div *ngIf="errorMessage" class="inp error-message">{{ errorMessage }}</div>     
      <button type="button" (click)="verifyEmailOTP()">VERIFY &amp; PROCEED</button>
      
      <div class="otpcount" *ngIf="countdownDuration === 0; else showcountdown">
        <p class="resentOtp" (click)="resendOTP()">Resend the OTP</p>
      </div>
      <ng-template #showcountdown>
        <p>{{ countdownMessage }}</p>
      </ng-template>
      
    </form>

    <div class="pic">
      <div class="resetdivcard">
          <p class="getstartedtext">Good Testimonials for our system. <br><span class="resetforstarts">Reset to Get Started</span></p>
          <img src="../../../assets/lady3.png" alt="" width="120px" class="ladyimg" />
      </div>
  </div>
  </div>
  