   <section>
    <div class="flex flex-col md:flex-row justify-center items-center h-screen p-0 md:p-2">
      <div class="w-4/5 md:w-2/5 text-center p-5">
        <h2 class="text-green-600 text-4xl font-bold">Ruwenzori</h2>
        <h1 class="text-gray-900 text-6xl font-bold">FARM PRODUCTS</h1>
        <p class="text-gray-600 mt-4">We believe in Sustainable Farming, Superior Quality to bring you the freshest, most flavorful produce straight from our farm to your table. From onions, pawpaws, water melons, kales, spinach to sweet potatoes.</p>
        <marquee width="100%" direction="left" behavior="scroll" scrollamount="4" class="mt-5 mb-2 text-gray-500">
          Call us: <i class="pr-2">{{phone_no}}/{{phone_no_2}}</i> Whatsapp us: <i class="pr-2">{{phone_no}}/{{phone_no_2}}</i> Visit us: <i class="pr-2">Ruwenzori stores, Tulia Market</i>
        </marquee>
        
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 font-medium text-sm px-4 py-0 text-center dark:bg-blue-600 dark:hover:bg-blue-700" (click)="scrollToSection('contact')" [class.active]="activeSection === 'contact'">Contact us</button>
      </div>
      <div class="hidden md:block carousel">
        <img *ngFor="let image of images; let i = index" [src]="image" alt="Agricultural Products" width="400px" [ngClass]="{'carousel-image': true, 'carousel-image-active': i === currentImageIndex}">
      </div>
      
    </div>
  </section>
  